*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 15vh;
    background:linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
  }
  
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: white;
  }

.useful-links{
    position: absolute;
    top: 5%;
    right: 5%;

}
.useful-links a{
    display: block;
    color: #fff;
   
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    flex-direction: column;
   
}

.welcome-text {
    font-size: 72px; /* Changed font size to 72px */
    animation: fadeIn infinite 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.user-info {
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #343a40; /* Dark text color */
    animation: fadeIn 1s;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #13547a; /* Project name color */
}

.bug-list {
    list-style: none;
    padding: 0;
    color: #13547a; /* Bug name color */
}

.bug-list li {
    margin: 5px 0;
    font-size: 18px;
}

